<div class="row">
    <div class="col-sm-12 col-dm-4">
        {{!-- <p>Hello</p> --}}
    </div>
    <div class="col-sm-12 col-md-8">
        {{#each data }}
            <div>
                <h3>{{ this.name }}</h3>
                <p>{{ this.description }}</p>
            </div>
        {{/each}}
        
    </div>
</div>