body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: black;
  font-size: 1.5em;
}
/* .page-header {
  
} */
.media-body {
  font-size: .9em;
}

.bump-up {
  margin-top: 10px;
}